@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Basic", sans-serif;
	text-decoration: none;
	line-height: 1.5;
}

:root {
	--color--01: hsl(0, 0%, 8%);
	--color--02: hsl(0, 0%, 14%);
	--color--03: hsl(153, 71%, 59%);
	--color--04: hsl(0, 0%, 100%);
	--color--05: hsl(0, 0%, 70%);
	--color--06: hsl(7, 100%, 68%);
	--primaryColor: #ff5277;
	--primaryColorOffset: #ff2957;
	--textColor: #ffffff;
	--textColorOffset: #f4f4f4;
}

body {
	background-color: #0e141b;
	/* color: #f4f4f4; */
}

img {
	width: 100%;
}

.desc {
	display: flex;
	justify-content: center;
	gap: 1em;
	padding: 1em;
}

.desc a img {
	max-width: 35px;
}

#hero {
	padding: 0 1em;
	min-height: 90vh;
	display: flex;
	align-items: center;
}

.web-span {
	color: var(--primaryColorOffset);
}

.description span {
	color: var(--textColorOffset);
	display: inline-block;
	font-size: 1.5rem;
}

.hero__head {
	font-family: "Playfair Display";
	font-size: 3rem;
	color: var(--textColor);
}

.hero__desc {
	font-size: 1.2rem;
	color: var(--textColorOffset);
	padding-bottom: 1.8rem;
}

.cta {
	background-color: var(--primaryColorOffset);
	margin: 2em 0;
	color: var(--textColor);
	padding: 0.7em 1.5em;
}

.cta:hover {
	background-color: var(--primaryColor);
}

/* AbOUT ME */

.about__wrapper {
	max-width: 1200px;
	margin: 0 1.5em;
	color: var(--textColor);
}

.about__head {
	font-size: 2rem;
	text-align: center;
	padding: 1em 0;
	text-decoration: underline;
}

.aboutss {
	display: grid;
	gap: 2em;
}

.about1__head,
.about2__head {
	color: var(--textColorOffset);
	padding: 1em 0;
}

.about__desc {
	line-height: 2;
}

.skills {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5em;
}

.skills div {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.skills div .skil {
	position: relative;
	z-index: 1;
}

.skills dev::before {
	content: '';
	position: absolute;
	top: var(--y);
	left: var(--x);
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	background: #ff2957;
	transition: width 0.5s, height 0.5s;
}

.skills div:hover::before {
	width: 300px;
	height: 300px;
}

.skil {
	background-color: #207888;
	padding: 1em;
	display: flex;
	justify-content: center;
}

/* PROJECTS */

.projects__head {
	font-size: 2rem;
	text-decoration: underline;
	text-align: center;
}

.projects__wrapper,
.challenges__wrapper {
	padding: 1em;
}

.projects__head,
.fem-challenges {
	padding: 1em 0;
	color: var(--textColorOffset);
}

.projects__container,
.challenges__container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em;
}

.project__item,
.challenge__item {
	background-color: #16202e;
	/* max-width: 500px; */
}

.project__item img {
	aspect-ratio: 16 /9;
	object-fit: cover;
}

.project__item-head,
.item__info h3 {
	color: var(--textColorOffset);
	font-size: 1.3rem;
}

.item__info {
	padding: 1.5rem;
	display: grid;
	gap: 1rem;
}

.project__tags {
	display: flex;
	gap: 1em;
}

.project__tags span {
	color: var(--color--05);
}

.project__links {
	display: flex;
	justify-content: space-between;
}

.item__link-box {
	display: flex;
}

.item__link {
	
	color: var(--color--06);
	padding: 0.5em;
	border: 1px solid var(--color--06);
}

.item__link:hover {
	color: white;
	background-color: var(--color--06);
}

.checkout {
	text-align: center;
	color: var(--textColor);
	padding: 2rem 0;
}

.checkout a {
	color: white;
	text-decoration: underline;
}

.checkout a:hover {
	color: var(--primaryColorOffset);
}

/* CONTACT */

.contact__wrapper {
	margin: 0 1.5em;
}

.span-div {
	display: flex;
	justify-content: center;
}

.contact__text span {
	font-size: 1.5rem;
	text-align: center;
	color: var(--textColorOffset);
	text-decoration: underline;
}

.contact__heading {
	font-family: "Playfair Display";
	color: var(--textColor);
	font-size: 2.5rem;
	text-align: center;
	padding: 1rem 0;
}

.contact__description {
	color: var(--textColorOffset);
	text-align: center;
}

.cta-box {
	display: flex;
	justify-content: center;
	padding: 3em 0;
}

.cta__last {
	margin: 2em 0;
}

.the__links {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.the__links img {
	max-width: 1.5rem;
}

.footer__text {
	color: var(--textColor);
	text-align: center;
	padding: 1.5rem 0;
}

/* 600px */
@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
		gap: 5em;
	}

	#hero {
		/* display: grid;
		grid-template-columns: 1fr 1fr; */
		max-width: 1200px;
		margin: 0 auto;
		
	}

	.skills__heading {
		text-align: center;
	}

	.skills {
		grid-template-columns: 1fr 1fr;
		gap: 1.5em;
	}

	.projects {
		max-width: 1200px;
		margin: 0 auto;
		padding: 3rem 0;
	}

	.projects__container,
	.challenges__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	/* About Me */

	.about__wrapper {
		max-width: 1200px;
		margin-inline: auto;
	}

	.aboutss {
		display: flex;
		gap: 2em;
	}

	.about1 {
		width: 50%;
	}

	.skills {
		grid-template-columns: repeat(3, 1fr);
	}

	/* CONTACT */

	#contact {
		max-width: 1200px;
		margin: 0 auto;
	}
}
