@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    line-height: 1.5;
}

:root {
    --color--01: hsl(0, 0%, 8%);
    --color--02: hsl(0, 0%, 14%);
    --color--03: hsl(153, 71%, 59%);
    --color--04: hsl(0,0%, 100%);
    --color--05: hsl(0,0%, 85%);
    --color--06: hsl(7, 100%, 68%);


    
}

img {
    width: 100%;
}

nav {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.nombre {
    background-color: var(--color--06);
    display: inline-block;
    font-weight: 600;
}

.contact {
    background-color: var(--color--06);
    margin:  2em 0;
    color: var(--color--01);
    padding: .7em ;
    border: 2px solid var(--color--06);
}

.contact:hover {
    background-color: white;
    color: var(--color--06);
    border-bottom: 2px solid var(--color--06);
    border-top: 2px solid var(--color--06);
}

.icons {
    display: flex;
    gap: 1em;
}

.icons img {
    width: 20px;
}

.description p {
    padding: 1em 0;
}

.skills-container {
    display: grid;
    place-content: center;
    gap: 1em;
    margin: 1em 0;
}

.skills {
    display: grid;
    gap: 1em;
}

.skills__heading {
    font-size: x-large;
    color: var(--color--01);
}

.skills__heading::after {
    content: '';
    display: block;
    width: 85%;
    height: 5px;
    background-color: var(--color--06);
    margin: auto;

}

.skills div {
    background: linear-gradient(rgb(49, 49, 243), rgb(221, 175, 221));
    padding: 1em;
    text-align: center;
    color: var(--color--04);
}

.projects__head {
    color: var(--color--06);
}

.project__item h3 {
    color: var(--color--01);
}

#about {
    padding: 0 1em;
}

/* PROJECTS */

.projects__wrapper {
    padding: 1em;
}

.projects__head {
    padding: 1em 0;
}

.projects__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.project__item {
    display: grid;
    gap: 1em;
    max-width: 500px;
}

.project__tags {
    display: flex;
    gap: 1em;
}

.project__tags span {
    border-bottom: 1px solid var(--color--03);
}

.project__links {
    display: flex;
    justify-content: space-between;
}

.project__links a {
    color: var(--color--06);
    padding: .5em;
    border: 1px solid var(--color--06);
}

.project__links a:hover {
    color: white;
    background-color: var(--color--06);
}

/* CONTACT */

.contact__wrapper {
    text-align: center;
}

.the__links {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.fa-github,
.fa-envelope {
    color: black;
}

.fa-heart {
    color: salmon;
}

/* 600px */
@media (min-width: 37.5em) {
    nav {
        flex-direction: row;
        gap: 5em;
    }

    #about {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skills__heading {
        text-align: center;
    }
    
    .skills {
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
    }

    .projects__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
